<body>
    <div id="mainBar">
        <div id="contenedor_opciones">
            <div class="opciones"><a href="#Home">Home</a></div>
            <div class="opciones"><a href="#AboutMe">Acerca de Mi</a></div>
            <div class="opciones"><a href="#MyServices">Servicios</a></div>
            <div class="opciones"><a href="#proyectos">Mis Proyectos</a></div>
            <div class="opciones"><a href="blog">Blog</a></div> <!--link a otra pagina-->
        </div>
    </div>

    <!--SECCION DE HOME-->
    <div id="Home">

        <div id="contenido1">
            <div id="imagen">
                <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/main/frontend/src/assets/images/me_circular_editada.jpg">
            </div>
            <div id="space1">
                <div id="titulo1_home">Jairo Garcia</div>
                <div id="texto_home">Desarrollador Full-Stack | Estudiante de Ingenieria</div>
            </div>
        </div>

    </div>
    <!--SECCION DE HOME-->

    <!--SECCION DE ABOUTME-->
    <div id="AboutMe">
        <div id="contenido2">
            <div id="imagen">
                <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/main/frontend/src/assets/images/foto_home_editada.jpg" alt="imagen de jairo">
            </div>
            <div id="info">
                <p class="subtitulo"><b>Biografia</b></p>
                <p class="titulo">Sobre mi</p>
                <p class="texto_plano">Hola!, soy Jairo Garcia; un estudiante universitario y desarrollador Web Full-Stack viviendo
                en Guatemala. En mis años de experiencia como desarrollador he trabajado en el front-end y
                back-end de paginas web, lo cual ha generado que ambos lados sean mis favoritos en un proyecto :).

                he adquirido las habilidades necesarias para construir proyectos web que
                satisfagan los requerimientos del cliente.
                </p>
                <p id="contacto">Contactame!</p>
                <div id="redes">
                    <a href="https://github.com/jairoDGM" target="_blank"><img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/icons8-github.svg" alt="link github"></a>
                    <a href="https://www.instagram.com/jairodaniel_gm/" target="_blank"><img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/icons8-instagram.svg" alt="link instagram"></a>
                    <a href="https://wa.me/50255112882" target="_blank"><img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/icons8-whatsapp.svg" alt="link whatsapp"></a>
                    <a href="https://www.facebook.com/jairo.garcia.JG" target="_blank"><img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/icons8-facebook.svg" alt="link facebook"></a>
                    <a href="mailto:jairo.danielgm@gmail.com"><img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/gmail-svgrepo-com.svg" alt="link correo electronico"></a>
                </div>
                <a href="https://github.com/jairoDGM/Personal_Website/blob/2a7b23f630abf60fbef3e0c0f51e14df7b83adbe/frontend/src/assets/Documentos/CV%20IT%202023.pdf" target="_blank">
                  <button class="button"> Descargar CV</button>
                </a>
            </div>
        </div>
    </div>
    <!--SECCION DE ABOUTME-->

    <!--SECCION DE MYSERVICES-->
    <div id="MyServices">
        <div id="contenido3">
            <div id="header">
                <p class="subtitulo"><b>Lo que hago</b></p>
                <p class="titulo">Mis Servicios</p>
            </div>
            <div id="tarjetas">

                <div class="card">
                    <h1><b>Gestion DB</b></h1>
                    <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/icons8-microsoft-sql-server.svg" alt="">
                    <p>Creacion de Base de datos relacionales; especificas para las caracteristicas
                    y necesidades de tu programa o pagina web. Empezando con diagramas ER hasta la finalizacion de tu DB</p>
                </div>

                <div class="card">
                    <h1><b>Landing Pages</b></h1>
                    <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/web-page-browser-window-svgrepo-com.svg" alt="">
                    <p>Diseño y Construccion de paginas web para presentacion, ideales para negocios o Empresas
                    que desean ampliar sus clientes potenciales.</p>
                </div>

                <div class="card">
                    <h1><b>Web Apps</b></h1>
                    <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/browser-website-svgrepo-com.svg" alt="">
                    <p>Creacion de un ecosistema completo para tu pagina web, desde el frontend hasta el backend, y por su puesto la Base
                    de Datos. Ideal para negocios que desean operar e interactuar de distintas maneras con sus clientes/usuarios</p>
                </div>

            </div>
            <div id="conocimientos">
                <p class="titulo">Conocimientos</p>
                <div class="slider">
                    <div class="slide-track">
                        <div class="slide">
                            <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/angular-icon-logo-svgrepo-com.svg" height="100" width="250" alt="" />
                        </div>
                        <div class="slide">
                          <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/angular-icon-logo-svgrepo-com.svg" height="100" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/css-3-svgrepo-com.svg" height="100" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/git-svgrepo-com.svg" height="100" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/github-svgrepo-com.svg" height="100" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/html-5-svgrepo-com.svg" height="100" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/java-4-logo-svgrepo-com.svg" height="100" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/javascript-svgrepo-com.svg" height="100" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/msql-server-svgrepo-com.svg" height="100" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/mysql-logo-svgrepo-com.svg" height="100" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/nodejs-1-logo-svgrepo-com.svg" height="100" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/python-svgrepo-com.svg" height="100" width="250" alt="" />
                        </div>
                        <div class="slide">
                            <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/typescript-icon-svgrepo-com.svg" height="100" width="250" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--SECCION DE MYSERVICES-->

    <!--SECCION DE CONOCIMIENTOS-->
    <div id="proyectos">
        <div id="contenido4">
            <div id="header">
                <p class="subtitulo"><b>Destacados</b></p>
                <p class="titulo">Proyectos Principales</p>
            </div>
            <div id="creaciones">

                <div class="card_project">
                    <h1><b>Tienda Virtual</b></h1>
                    <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/Tienda.svg" alt="">
                    <p>Pagina web de productos electronicos, en la cual se pueden gestionar compras y pedidos haciendo
                      uso de una Base de Datos distribuida; la cual es consultada en la parte del backend.
                    </p>
                    <a href="https://github.com/jairoDGM/Proyecto_Tienda.git" class="btn41-43 btn-41" target="_blank">
                      Ir a Github
                    </a>
                </div>

                <div class="card_project">
                    <h1><b>Graficadora EDO</b></h1>
                    <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/graficadora.svg" alt="">
                    <p>Software matematico desarrollado completamente en Java, el cual es capaz de resolver
                    ecuaciones diferenciales de primer orden; esto a travez de la implementacion del "Metodo de Euler".</p>
                    <a href="https://github.com/jairoDGM/Solucionador-Edos.git" class="btn41-43 btn-41" target="_blank">
                      Ir a Github
                    </a>
                </div>

                <div class="card_project">
                    <h1><b>Refriteca Website</b></h1>
                    <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/Website.svg" alt="">
                    <p>Pagina web diseñada para la empresa "Refriteca" para poder extender su alcance con respecto
                      a sus clientes objetivos
                    </p>
                    <a href="" class="btn41-43 btn-41">
                      Ir a Sitio Web
                    </a>
                </div>

                <div class="card_project">
                    <h1><b>Quiniela Web</b></h1>
                    <img src="https://raw.githubusercontent.com/jairoDGM/Personal_Website/33de35ee742f0a8586b741e51b7625225ec720b3/frontend/src/assets/images/logos/quiniela.svg" alt="">
                    <p>Pagina web que implementa por completo un esquema "CRUD" para poder gestionar una quiniela
                      con diferentes usuarios y apartados.
                    </p>
                    <a href="https://github.com/jairoDGM/Quiniela_Mundial.git" class="btn41-43 btn-41" target="_blank">
                      Ir a Github
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!--SECCION DE CONOCIMIENTOS-->

</body>
